<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Top Page - index</title>
</head>
<body>
<h2>User</h2>
count: {{ user_count }}<br/>
<form action="{{ url_for('index/generate_users') }}" method="POST"><input type="text" name="quantity" value="5"><input type="submit" value="追加"></form>
<form action="{{ url_for('index/delete_all_users') }}" method="POST"><input type="submit" value="全削除"></form>

<hr/>

<h2>Schedule</h2>
count: {{ schedule_count }}<br/>
<form action="{{ url_for('index/generate_schedules') }}" method="POST"><input type="submit" value="追加"></form>
<form action="{{ url_for('index/delete_all_schedules') }}" method="POST"><input type="submit" value="全削除"></form>

<hr/>

<h2>Log</h2>
count: {{ log_count }}<br/>
<form action="{{ url_for('index/delete_all_logs') }}" method="POST"><input type="submit" value="全削除"></form>

<hr/>

<h2>Process</h2>
<a href="{{ url_for('common/serve', resource=process.content) }}">download</a>
</body>
</html>
